/*
@import this file directly into your existing Scss files to use these mixins
*/
@mixin sprite-content-img-sketches-001() {
/* You may have to set 'display: block' */
	width: 158px;
	height: 211px;
	background: url('sketches.jpg') -1px -1px;
}
@mixin sprite-content-img-sketches-002() {
/* You may have to set 'display: block' */
	width: 158px;
	height: 211px;
	background: url('sketches.jpg') -1px -213px;
}
@mixin sprite-content-img-sketches-003() {
/* You may have to set 'display: block' */
	width: 158px;
	height: 211px;
	background: url('sketches.jpg') -1px -425px;
}
@mixin sprite-content-img-sketches-004() {
/* You may have to set 'display: block' */
	width: 158px;
	height: 118px;
	background: url('sketches.jpg') -1px -637px;
}
@mixin sprite-content-img-sketches-005() {
/* You may have to set 'display: block' */
	width: 158px;
	height: 807px;
	background: url('sketches.jpg') -1px -756px;
}
@mixin sprite-content-img-sketches-006() {
/* You may have to set 'display: block' */
	width: 158px;
	height: 211px;
	background: url('sketches.jpg') -1px -1564px;
}
@mixin sprite-content-img-sketches-007() {
/* You may have to set 'display: block' */
	width: 158px;
	height: 211px;
	background: url('sketches.jpg') -1px -1776px;
}
@mixin sprite-content-img-sketches-008() {
/* You may have to set 'display: block' */
	width: 158px;
	height: 211px;
	background: url('sketches.jpg') -1px -1988px;
}
