.icon {
  background-image: url('sprite.png');
}

.icon-palace {
  background-position: -4px -4px;
  width: 960px;
  height: 368px;
}

.icon-hip-bones {
  background-position: -4px -380px;
  width: 556px;
  height: 417px;
}

.icon-boobs {
  background-position: -4px -805px;
  width: 556px;
  height: 417px;
}

.icon-diving-into-oblivion {
  background-position: -4px -1230px;
  width: 417px;
  height: 520px;
}

.icon-spine {
  background-position: -4px -1758px;
  width: 417px;
  height: 520px;
}

.icon-green-spider {
  background-position: -4px -2286px;
  width: 720px;
  height: 540px;
}

.icon-canvas-bg {
  background-position: -4px -2834px;
  width: 900px;
  height: 602px;
}

.icon-faces-of-liz {
  background-position: -4px -3444px;
  width: 960px;
  height: 697px;
}

.icon-limbs {
  background-position: -4px -4149px;
  width: 960px;
  height: 720px;
}

.icon-head {
  background-position: -4px -4877px;
  width: 960px;
  height: 720px;
}

.icon-crazy-monsters {
  background-position: -4px -5605px;
  width: 960px;
  height: 856px;
}

.icon-yellow {
  background-position: -4px -6469px;
  width: 960px;
  height: 952px;
}

.icon-fish {
  background-position: -4px -7429px;
  width: 934px;
  height: 960px;
}

.icon-naked {
  background-position: -4px -8397px;
  width: 945px;
  height: 960px;
}

.icon-face {
  background-position: -4px -9365px;
  width: 720px;
  height: 960px;
}

.icon-pelvis {
  background-position: -4px -10333px;
  width: 748px;
  height: 960px;
}

.icon-boobs2 {
  background-position: -4px -11301px;
  width: 720px;
  height: 960px;
}

.icon-strange {
  background-position: -4px -12269px;
  width: 630px;
  height: 960px;
}

.icon-winos {
  background-position: -4px -13237px;
  width: 959px;
  height: 960px;
}

.icon-blue {
  background-position: -4px -14205px;
  width: 948px;
  height: 960px;
}

