<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>E. L. Knox</title>

    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="content/css/bundle.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-61241546-1', 'auto');
      ga('send', 'pageview');
    
    </script>

    <script type="text/javascript" src="scripts/bundle.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body ng-controller="NavController as vm">

        <div class="img-popup" ng-if="vm.showPopup">
            <div>
                <div ng-click="vm.showPopup = false">X</div>
                <img ng-src="/content/img/{{vm.imgSrc}}.jpg"></img>
                <span>{{vm.title}}</span>
            </div>
        </div>

        <div class="intro" ng-hide="vm.isIntroDone">
          <img src="/content/img/logo-bg.gif" />
        </div>

        <div class="content" ng-show="vm.isIntroDone">
            <div class="row title-row">
                <div class="col-xs-4">
                    <div><img src="/content/img/logo-xs-white.gif" ng-click="vm.state = 'home'" /></div>
                    <div>
                        <a href="https://www.linkedin.com/profile/view?id=320535590"><i class="fa fa-linkedin-square fa-3x"></i></a>
                    </div>
                    <div>
                        <a href="mailto:elizabeth@elknox.com"><i class="fa fa-envelope-square fa-3x"></i></a>
                    </div>
                    <div>
                        <a href="https://www.facebook.com/pages/E-L-Knox/878582718840473"><i class="fa fa-facebook-square fa-3x"></i></a>
                    </div>
                </div>

                <div class="col-xs-8 title">
                    <h1>Elizabeth L. Knox </h1>
                    <small>artist <i>|</i> archaeologist <i>|</i> bio-anthropologist</small>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 navbar">
                    <h2 ng-class="{ selected: (vm.state === 'gallery')}" ng-click="vm.state = 'gallery'">gallery</h2>
                    <h2 ng-class="{ selected: (vm.state === 'bio')}" ng-click="vm.state = 'bio'">artist bio</h2>
                    <h2 ng-class="{ selected: (vm.state === 'blog')}" ng-click="vm.state = 'blog'">blog</h2>
                    <h2 ng-class="{ selected: (vm.state === 'sketches')}" ng-click="vm.state = 'sketches'">sketches</h2>
                </div>

                <div class="col-xs-8 home" ng-if="vm.state === 'home'">
                  <img src="/content/img/boobs.jpg"/>
                </div>

                <div class="col-xs-8 main-content" ng-if="vm.state === 'bio'">
                    <div class="col-xs-8" >
                        <p>                    
                            Elizabeth grew up in Manly on the Northern Beaches of Sydney, Australia, and from a very young age never had a pencil out of her hand. She was fortunate enough to have parents and teachers that always encouraged her to express herself through art, and they supported this passion throughout her schooling life. This lead to Elizabeth having a of work selected for the Express Yourself exhibition in 2003, followed by her taking home the Inaugural Theo Batton youth award from the Manly art gallery and museum in 2004. 
                        </p>
                        <p>
                            After a year of studying fine art, majoring in painting, at the Australian National University's School of Art she transferred into the school of Arts and Humanities and ended up graduating with a BA in Art History (Curatorship), Archaeology and Biological Anthropology. It was during her studies that Elizabeth found a passion for human history and biological anatomy, which would become her new source of inspiration and give much needed understanding into the mechanisms of skeletal movement and the limitations of our fragile bodies.
                        </p>
                        <p>
                            She currently lives and works as an archaeologist in London, and has started integrating her osteological background and interest in history and science into her art, creating studies in anatomy and scientific illustration. Inspired by artists such as James Gleeson, H R. Giger, Hieronymus Bosch, Salvador Dali and Max Ernst, Elizabeth's work leans into the realms of Surrealism. Some pieces aim to disturb and others to simply leave you baffled; all are designed to captivate. 
                        </p>
                        <p>
                            Elizabeth intends for each work to stay with you, haunting your thoughts until you can see more.
                        </p>
                    </div>

                    <div class="col-xs-3">
                        <img src="content/img/sexy.png"></img>
                    </div>
                </div>

                <div class="col-xs-9 main-content" ng-if="vm.state === 'gallery'">
                   <div id="gallery" >
                       <div class="column">
                           <img class="item" ng-click="vm.select('boobs')" src="/content/img/boobs.jpg"></img>
                            <img class="item" ng-click="vm.select('blue')" src="/content/img/blue.jpg"></img>
                            <img class="item" ng-click="vm.select('boobs2')" src="/content/img/boobs2.jpg"></img>
                            <img class="item" ng-click="vm.select('crazy-monsters')" src="/content/img/limbs.jpg"></img>
                            <img class="item" ng-click="vm.select('crazy-monsters')" src="/content/img/crazy-monsters.jpg"></img>
                            <img class="item" ng-click="vm.select('yellow')" src="/content/img/yellow.jpg"></img>
                       </div>
                       <div class="column">
                           <img class="item" ng-click="vm.select('face')" src="/content/img/spine.jpg"></img>
                           <img class="item" ng-click="vm.select('face')" src="/content/img/green-spider.jpg"></img>
                           <img class="item" ng-click="vm.select('face')" src="/content/img/face.jpg"></img>
                            <img class="item" ng-click="vm.select('faces-of-liz')" src="/content/img/faces-of-liz.jpg"></img>
                            <img class="item" ng-click="vm.select('fish')" src="/content/img/fish.jpg"></img>
                            <img class="item" ng-click="vm.select('head')" src="/content/img/head.jpg"></img>
                            <img class="item" ng-click="vm.select('hip-bones')" src="/content/img/hip-bones.jpg"></img>
                       </div>
                        <div class="column">
                            <img class="item" ng-click="vm.select('naked')" src="/content/img/naked.jpg"></img>
                            <img class="item" ng-click="vm.select('palace')" src="/content/img/diving-into-oblivion.jpg"></img>
                            <img class="item" ng-click="vm.select('palace')" src="/content/img/palace.jpg"></img>
                            <img class="item" ng-click="vm.select('pelvis')" src="/content/img/pelvis.jpg"></img>
                            <img class="item" ng-click="vm.select('strange')" src="/content/img/strange.jpg"></img>
                            <img class="item" ng-click="vm.select('winos')" src="/content/img/winos.jpg"></img>
                        </div>
                   </div>
                </div>

                <div class="col-xs-8 main-content" ng-if="vm.state === 'blog'">
                    <h2>Welcome to my website! <small>posted on december 17, 2014</small></h2>
                    <p> 
                        To be honest I always struggle to find an answer which seems to satisfy both the eager listener and my own ego. I have always been inspired by surrealists and the work they produce across mediums, anything which catapults you into a different way of thinking, even if there is no greater, deeper reason for it other than that it is possible.. or why not!
                    </p>
                    <p>
                        A side to this I have an incurable desire  for perfection and accuracy which has led me to attempt more scientific illustrations, leading to the new desire to merge my love of painting and drawing with my career in archaeology and osteology. I will be updating my gallery with these pieces as they are produced, and hopefully in time have enough to separate them into a separate portfolio. 
                     </p>
                     <p>
                        This Blog is going to be a bit of a mix bag really, I am intending to document and discuss things that inspire me, from my archaeology work, travelling and sites around London, to art exhibitions and conferences. So I hope you like what you see and visit me again with and hot cup of coffee or a nice glass of red, and I will do my darndest to entertain you..... somehow. 
                    </p>
                    <p>
                        Yours Sincerely
                    </p>
                    <p>
                        Elizabeth L. Knox.
                    </p>
                </div>

                <div class="col-xs-8 main-content" ng-if="vm.state === 'sketches'">
                    <div id="gallery" >
                       <div class="column2">
                           <img class="item" src="/content/img/sketches/001.jpg"></img>
                           <img class="item" src="/content/img/sketches/002.jpg"></img>
                           <img class="item" src="/content/img/sketches/003.jpg"></img>
                           <img class="item" src="/content/img/sketches/004.jpg"></img>                             
                           <img class="item" src="/content/img/sketches/007.jpg"></img>
                           <img class="item" src="/content/img/sketches/008.jpg"></img>  
                           <img class="item" src="/content/img/ants/009.jpg"></img>                       
                       </div>
                       <div class="column2">
                           <img class="item" src="/content/img/sketches/005.jpg"></img>
                           <img class="item" src="/content/img/sketches/006.jpg"></img>
                           <img class="item" src="/content/img/ants/005.jpg"></img>
                           <img class="item" src="/content/img/ants/010.jpg"></img>
                       </div>
                       <div class="column2">
                           <img class="item" src="/content/img/sketches/009.jpg"></img>
                           <img class="item" src="/content/img/ants/003.jpg"></img>
                           <img class="item" src="/content/img/sketches/010.jpg"></img>
                           <img class="item" src="/content/img/sketches/011.jpg"></img>
                           <img class="item" src="/content/img/ants/004.jpg"></img>
                           <img class="item" src="/content/img/sketches/012.jpg"></img>
                       </div>
                       <div class="column2">
                           <img class="item" src="/content/img/sketches/013.jpg"></img>
                           <img class="item" src="/content/img/sketches/014.jpg"></img>
                           <img class="item" src="/content/img/sketches/015.jpg"></img>
                           <img class="item" src="/content/img/ants/006.jpg"></img>
                           <img class="item" src="/content/img/sketches/016.jpg"></img>
                           <img class="item" src="/content/img/sketches/023.jpg"></img>
                           <img class="item" src="/content/img/sketches/024.jpg"></img>
                           <img class="item" src="/content/img/ants/008.jpg"></img>
                           <img class="item" src="/content/img/sketches/022.jpg"></img>
                           
                       </div>
                       <div class="column2">
                           <img class="item" src="/content/img/ants/002.jpg"></img>
                           <img class="item" src="/content/img/sketches/017.jpg"></img>

                           <img class="item" src="/content/img/ants/001.jpg"></img>
                           <img class="item" src="/content/img/ants/012.jpg"></img>
                           <img class="item" src="/content/img/sketches/018.jpg"></img>
                           <img class="item" src="/content/img/ants/007.jpg"></img>
                           <img class="item" src="/content/img/sketches/019.jpg"></img>
                           <img class="item" src="/content/img/sketches/020.jpg"></img>
                       </div>
                       <div class="column2">
                           <img class="item" src="/content/img/sketches/021.jpg"></img>
                           <img class="item" src="/content/img/ants/011.jpg"></img>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </body>
</html>
